# 文件的副本数，单节点建议为 1
TFS_COPIES=1
# 你从浏览器访问该文件系统的入口，本地测试时可以设为 /
TFS_WEB_ENTRYPOINT=/

# MeiliSearch
MEILISEARCH_MASTER_KEY=default_key_change_me
# e.g. https://your-meilisearch.com
MEILISEARCH_WEB_UI=/

# Hostid 服务器地址
SSO_SERVER_URL=
# SSO 信息页地址
SSO_INFO_URL=